{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
<br>
  <section class="center">
    <h3 class="account-heading">Veiklų sąrašas</h3>
    <br>
    <p><strong>Vadybininko {{user}} veiklų sąrašas</strong></p>
    <table class="sortable" style="width:100%">
      <tr>
        <th>Veikla</th>
        <th>Klientas</th>
        <th>Parduoti vnt.</th>
        <th>Vnt. kaina</th>
        <th>Pajamos</th>
        <th>Data</th>
      </tr>
    {% for activity in activity_list reversed %}
      <tr>
        <td><a href="{% url 'activity-detail' activity.pk %}">{{activity.activity_type}}</a></td>
        <td>{{activity.customer}}</td>
        <td>{{activity.sold_units}}</td>
        <td>{{ activity.price_per_unit }}</td>
        <td>{{ activity.price_per_unit|mul:activity.sold_units }}</td>
        <td>{{activity.date}}</td>
      </tr>
    {% endfor %}
    </table>
    </section>
{% endblock %}