{% extends "base.html" %}
{% block content %}

   
    <section class="bg-primary text-light p-2">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                  </div>
                  
            </div>
        </div>
    </section>


    <!-- Newsletter -->
    <section class="bg-primary text-light p-4">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0">Užsisakykite naujienas</h3>

                <div class="input-group news-input">
                    <input type="text" class="form-control" placeholder="Įveskite el. paštą">
                    <button class="btn btn-dark btn-lg" type="button">Spausti</button>
                </div>
            </div>
        </div>
        <br>
    </section>

    <!-- Boxes -->
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-laptop"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Sistemos prieiga
                            </h3>
                            <p class="card-text">
                                Prieiga prie miniCRM sistemos iš įvairių įrenginių ir ekranų. Telefonas, kompiuteris, planšetė - junkitės iš kur panorėję.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-person-square"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Saugūs duomenys
                            </h3>
                            <p class="card-text">
                                Nuo įsilaužimų apsaugoti varotojų duomenys, ataskaitos ir konfidenciali informacija. Dirbkite saugiai ir užtikrintai.
                            </p>
                            <a href="#" class="btn btn-dark">Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Skirtingi lygiai
                            </h3>
                            <p class="card-text">
                                Sistema sukurta patogiam pardavėjo darbui ir efektyviam vadovo ataskaitų darymui. Perkelkite verslą į kitą lygį!
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% endblock %}

      
